// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'

// Main

body, html
  height 100%
  background #666

#circle
  background-color #fff
  max-width 500px
  margin 0 auto
  margin-top 50px
